body {
	background-color: #152030;
}
.srHr {
	border-top: 1px solid white;
}
.homeContainer {
	margin-top: 70px; 
	margin-bottom: 30px;
	color: white;
}
.pageContainer {
	margin-top: 30px;
	margin-bottom: 30px;
	color: white;
}
@media only screen and (max-width: 600px) {
	.pageTitle {
		font-size: 50px;
	}
}
@media only screen and (max-width: 400px) {
	.photoTitle {
		font-size: 35px;
	}
}